[Desktop Entry]
Name=wasta [Resources]
Comment=Documentation and Reference Materials
Exec=xdg-open /usr/share/wasta-resources/
Type=Application
Icon=wasta-resources
Categories=Education;
